# Database Configuration
PGHOST=example_host
PGPORT=example_port
PGDATABASE=example_db
PGUSER=example_user
PGPASSWORD=example_password

# Login Configuration
SMTP_EMAIL=example@gmail.com
SMTP_PASSWORD=example_password

# Cloudinary Configuration
CLOUDINARY_URL=example_cloudinary_url

# Encryption
ENCRYPTION_KEY=example_encryption_key